html, body {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    height: 100vh;
    background: #f1f1f1;
    position: fixed;
    left: 0;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }
  
  /* Main Content */
  #main-content {
    margin-left: 250px; /* para que el sidebar no me tape lo demas*/
    padding: 20px;
  }
  
  #main-content section {
    width: 100%;
  }
  
  /* General Content Styling */
  .content img {
    max-width: 100%;
    height: auto;
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Recent Orders */
  .recent-orders img {
    width: 60px;
  }
  .perfil-form img {
    width: 100px; /* Ajusta el ancho de la imagen */
    height: 100px; /* Ajusta la altura de la imagen */
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    object-fit: cover; /* Hace que la imagen se recorte sin deformarse */
    margin-bottom: 10px; /* Ajusta el margen si es necesario */
  }
    