.navbar-toggle {
  padding-top: 50px;
  position: sticky;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: #cdc6b8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-toggle:hover {
  cursor: grabbing;
}

.logo-img {
  height: 30px; 
  width: auto;
  transition: transform 0.3s ease;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  display: block;
}

.logo-grow {
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

.navbar {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #e6bc8a;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5em;
}

.navbar-toggle:hover .navbar {
  display: block;
  animation: despliegue 0.5s forwards;

}


.navbar ul {
  list-style: none;
  padding: 1;
  margin: 0;
}

.navbar ul li {
  margin-bottom: 10px;
}

.navbar ul li a {
  color: #000000;
  text-decoration: aliceblue;
}
