<footer class="footer-content text-light py-5">
    <div class="container">
        <div class="row">
            <!-- Logo -->

            <div class="col-md-3 mb-4">
                <a href="/index.html" class="footer-logo d-block">
                    <img src="/assets/images/ConSentido.co.png" alt="Logo ConSentido.co" class="logo-footer img-fluid">
                </a>
            </div>



            <!-- Enlaces Útiles -->
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-decoration-none text-light">Inicio</a></li>
                    <!-- <li class="mb-2"><a href="#" class="text-decoration-none text-light">Productos</a></li> -->
                    <!-- <li class="mb-2"><a href="#" class="text-decoration-none text-light">Servicios</a></li> -->
                    <li class="mb-2"><a href="/pages/customer/contact_us.html"
                            class="text-decoration-none text-light">Contáctanos</a></li>
                    <li class="mb-2"><a href="/pages/customer/about_us.html"
                            class="text-decoration-none text-light">Sobre Nosotros</a></li>
                </ul>
            </div>

            <!-- Contacto -->
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Contacto</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-phone me-2"></i> (123) 456-7890</li>
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> info@consentido.co</li>
                    <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> Tu Dirección</li>
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Novedades</h5>
                <p>Suscríbete para recibir actualizaciones sobre nuevos productos y artesanos</p>
                <form class="newsletter-form" id="newsletter-form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Tu correo electrónico" required
                            name="email">
                        <button class="btn btn-warning" type="button" id="subscribe-btn">Suscribirse</button>
                    </div>
                </form>
            </div>



            <!-- Redes Sociales no se pueden agregar por ahora porque no existen 
             y quedarían con enlaces inexistentes-->
            <!-- <div class="col-md-3 mb-4">
                <h5 class="mb-3">Síguenos</h5>
                <div class="footer-social">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-linkedin-in fa-lg"></i></a>
                </div>
            </div> -->
        </div>

        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col-12">
                <hr class="bg-light">
                <small>&copy; <span class="current-year"></span> ConSentido.co. Todos los derechos reservados.</small>

            </div>
        </div>
    </div>
    </div>

</footer>
<script src="/js/admin/footer.js"></script>