<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel="stylesheet" href="/assets/css/styleAssets.css">
<link rel="stylesheet" href="/assets/css/styleComponents.css">
<link rel="stylesheet" href="/assets/css/stylePages.css">
--> 


<link rel="stylesheet" href="../../../frontend/css/core/styleAssets.css">
<link rel="stylesheet" href="../../../frontend/css/core/styleComponents.css">
<link rel="stylesheet" href="../../../frontend/css/core/stylePages.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">