<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me gusta comer</title>
    <link rel="stylesheet" href="../css/left_bar.css">
</head>
<body>
    <div id = "my-left-nav" class="navbar-toggle">
        <img src="../assets/images/ConSentido.co.png" alt="ConSentido Logo" class="logo-img">
        <i class="fas fa-bars"></i>
        <nav class="navbar">
          <ul>
                <li><a href="Index.html">Inicio</a></li>
                <li><a href="about_us.html">Quiénes Somos</a></li>
                <li><a href="FAQ.html">Preguntas Frecuentes</a></li>
                <li><a href="Contact_us.html">Contáctenos</a></li>
          </ul>
        </nav>
      </div>


   
<script src="../js/navbar.js"></script>
</body>
</html>
