<head>
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <img src="../assets/images/ConSentido.co.png" alt="ConSentido Logo" class="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Menú
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../index.html">Home</a></li>
                        <li><a class="dropdown-item" href="../pages/about_us.html">Sobre Nosotros</a></li>
                        <li><a class="dropdown-item" href="../pages/Contact_us.html">Contáctanos</a></li>
                        <li><a class="dropdown-item" href="../pages/FAQ.html">Preguntas Frecuentes</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/tejidos2.html">Tejido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/madera2.html">Madera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/papel2.html">Papel</a>
                </li>
            </ul>

            <div class="d-flex align-items-center gap-3">
                <div class="search-box">
                    <input type="text" class="form-control form-control-sm" placeholder="Buscar...">
                    <i class="fas fa-search"></i>
                </div>
                <a href="./Car.html" class="nav-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a href="/pages/Login.html" class="nav-icon">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</nav>